h1,p{
    margin:1em auto;
    text-align:center;
}
body{
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #437948;
  color: #f5f6f7;
  font-family: Tahoma;
  font-size: 16px;
}
form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}
label {
  display: block;
  margin: 0.5rem 0;
}
input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}
.inline{
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}
button{
    display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #76a07d;
  border-color: white;
  min-width: 300px;
}
label,
select {
  margin: 0;
  padding: 0;
}
fieldset label {
  display: inline-block;  /* sab labels ek line me aayenge */
  margin-right: 15px;     /* thoda gap ke liye */
}
